.parcourContainer{
  display:flex;
  justify-content:center;
  background-color: #282c34 !important;
  color:aliceblue;
  display:flex;
  height: 100%;
  margin-top:45px;
}
.Cv{

  height:auto;
  width: 70%;
}

@media screen and (max-width: 768px) {
.Cv{
  height:200vh;
  width: 200vw;
}

}