.header-section{
  height:250px;
  opacity:0.9;
  color : white;
  display : flex;
  justify-content : flex-end;
}
.navItems{
  font-weight : bold;
  font-size:30px;
  display : flex;
  justify-content : flex-end;
}
.navlist{
  list-style: none;
  display : flex;
  justify-content : flex-end;
  flex-direction: row;
  
}

li {
  list-style : none;
  color : rgb(235, 202, 148);
  padding : 15px;
  text-shadow : 5px 2px 0px rgb(61, 61, 61);
  
}
.link {
  text-decoration: none;
  outline: none;
}

ul{
  display : flex;
  justify-content : flex-end;
}